/* Tailwind base styles */
@tailwind base;

/* Tailwind component classes */
@tailwind components;

/* Tailwind utility classes */
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    color: #1f2937; /* text-gray-800 */
    background-color: #f9fafb; /* bg-gray-50 */
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}

a:hover {
  color: #4f46e5; /* text-indigo-600 */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
